{deps_dirs,["deps"]}.
{ct_use_short_names,true}.
{test_node_name,"8@localhost"}.
{deps,
 [
   {meck, ".*", {git, "http://github.com/eproxus/meck.git", "master"}},
   {eleveldb, ".*", {git, "http://github.com/basho/eleveldb.git", "master"}}	,
   {lager, ".*", {git, "git://github.com/basho/lager", {branch, "master"}}}
 ]}.

{erl_opts, [{parse_transform, lager_transform}]}.
             %% Make sure to set -fPIC when compiling redis	
%{pre_hooks, [{compile, "c_src/build_deps.sh"}]}.

%{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.
